#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey
}

.travel_mainDiv img {
    width: 100%;

}

.travel_mainDiv hr {
    width: 230px;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;

}

.movie_head i {
    float: right;

}

.movie_text span {
    color: coral;

}

.environnment_li {
    margin-top: 13px;


}

.environnment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.environnment_li img {
    border-radius: 25px;
}

.environnment_li p {
    margin-top: 10px;
}

.book {
    cursor: pointer;

}

.book hr {
    margin-bottom: 10px;
}

.modal-comtent {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center;
}
